.button {
    background-color: white;
    color: black;
    font-size: 55px;
    width: 80px;
    aspect-ratio: 1/1;
    border: 3px solid black;
    cursor: pointer;
}

/* Hover if not disabled */
.button:hover:not(:disabled) {
    background-color: hsl(109, 75%, 87%);
    font-weight: 550;
}

/* Active if not disabled */
.button:active:not(:disabled) {
    font-weight: 700;
}

.button.correct {
    background-color: hsl(91, 80%, 51%);
    color: white
}

.button.incorrect {
    background-color: hsl(124, 26%, 51%);
    opacity: .3;
}