.button {
    background-color: white;
    color: black;
    font-size: 55px;
    width: 80px;
    aspect-ratio: 1/1;
    border: 3px solid black;
    cursor: pointer;
}

/* Hover if not disabled */
.button:hover:not(:disabled) {
    background-color: hsl(200, 80%, 80%);
    font-weight: 550;
}

/* Active if not disabled */
.button:active:not(:disabled) {
    font-weight: 700;
}

.button.correct {
    background-color: hsl(200, 90%, 60%);
    color: white
}

.button.incorrect {
    opacity: .3;
}